h1 {
    font-size: 3em;
  
}

.ventajas{
    padding: 5rem;
    background-color: #003566;
    white-space: 5rem;
}

.ventaja{
   color: #ffffff;
    text-align: center;
}

.ventaja{
    font-size: 2rem;
}

.ventaja i{
font-size: 2rem;
}

.ventaja h2{
 font-size: 2.5rem;
}

.ventaja p{
    font-size: 1.5rem;
}

.contenido-ventajas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}

#piedepagina {
    background-color: #003566;
}

#piedepagina a {
    color: #ffffff;
    text-decoration: none;
   
}

#piedepagina h3 {
    color: #ffc300;
    font-size: 1.2em;
    
}

.iconoredes {
    font-size: 2em;
    padding-right: 0.5em;
}


